.navbar.navbar-expand-sm.navbar-light.navbar-lewagon
  = link_to root_path, class: "navbar-brand" do
    = image_tag asset_path('logo.png')
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    -# .d-none
    %ul.navbar-nav.mr-auto
      %li.nav-item= link_to "Les composteurs collectifs", sites_path, class: "nav-link"
      %li.nav-item= link_to "Les composteurs de copro", condominium_sites_path, class: "nav-link"
      %li.nav-item= link_to "A propos", about_path, class: "nav-link"
      %li.nav-item.contact-btn= link_to "Contact", t('links.conversion.contact'), class: "btn btn-primary"
      - if user_signed_in?
        %li.nav-item.active
          = link_to "Home", "#", class: "nav-link"
        %li.nav-item
          = link_to "Messages", "#", class: "nav-link"
        %li.nav-item.dropdown
          = image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
            = link_to "Action", "#", class: "dropdown-item"
            = link_to "Another action", "#", class: "dropdown-item"
            = link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item"
      -# - else
      -#   %li.nav-item
      -#     = link_to "Login", new_user_session_path, class: "nav-link"
