= render 'shared/load_leaflet_map'
= content_for :meta_title, "#{@site.formatted_name} - #{DEFAULT_META["meta_site_name"]}"
= content_for :meta_description, @site.description
- if @site.photo
  = content_for :meta_image, cl_image_path(@site.photo.path)

.mt-5
.container
  .row
    .col-sm-6
      %h1= @site.formatted_name
      %label.font-weight-bold Adresse
      %p
        = @site.address
        %br
        = [@site.zipcode, @site.city].join(' ')
      %label.font-weight-bold Accès
      %p= @site.participation_conditions
      %label.font-weight-bold Contact
      %p= mail_to(@site.contact_email, @site.contact_email)

    .col-sm-6
      #map

= render 'shared/leaflet_site_map'
